<CustomSearchEngine volunteers="false"
                    language="en"
                    visible="true"
                    encoding="UTF-8">
    <Title>Programmers Search</Title>
    <Description>Search Engine By And For Programmers</Description>
    <Context>
      <BackgroundLabels>
        <Label name="<%=label%>" mode="FILTER" />
      </BackgroundLabels>
    </Context>
    <LookAndFeel nonprofit="false"/> 
</CustomSearchEngine>
